body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: #fff !important;
    color: #1b2c57 !important;
    text-align: center;
    padding: 0.5em 10em 0;
    display: flex;
    align-items: center;
    space-between !important
    border-bottom: solid 2px #1b2c57 !important;
  }

header a {
    margin-right: 10px;
}

header img {
    height: 50px;
}

header h1 {
    margin: 0;
}

/*Social Media*/

.social-media {
    display: flex;
    margin-left: auto; /* Add this to push the social media handles to the right */
}

.social-link {
    margin-right: 10px;
    text-decoration: none;
    color: #b31111;
}

.social-link img {
    height: 30px; /* Set the height of social media icons */
}

@media (max-width: 768px) {
    .social-media {
      display: none;
    }
  }

/*Menu Icon*/

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    display: none; /* Hidden by default on larger screens */
}

.nav-menu {
    display: flex;
    flex-direction: column; /* Center items vertically */
    align-items: center; /* Center items horizontally */
}

.nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    text-decoration: none;
    color: #fff;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    header a {
        margin: 10px 0;
    }

    .menu-icon {
        display: block;
        float: right;
        margin-right: 1%;
    }

    .nav-menu {
        display: none;
        width: 100%;
        background-color: #333;
    }

    .nav-menu.open {
        display: flex;
    }

    .nav-menu ul {
        flex-direction: column;
        align-items: center;
    }

    .nav-menu li {
        margin: 10px 0;
    }

    
    .slider {
        width: 100%;
    }
}

/*Reponsive Slider*/
@media (max-width: 1200px) {
    .slider {
        width: 100%; /* Adjust the width for medium screens */
        height: 800px;
    }
}

@media (max-width: 768px) {
    .slider-container {
      height: 302px !important;
    }
    .prev,
    .next {
        font-size: 18px; /* Adjust the font size of navigation buttons for smaller screens */
    }
  }





  nav {
    background-color: #1b2c57 !important;
    color: #fff !important;
  }

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    background-color: #b5975d;
}

main {
    padding: 30px;
    
  }

  @media (max-width: 768px) {
    main {
        padding: 10px;
        
      }
  }  

section {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

footer {
    background-color: #1b2c57;
    color: #fff;
    padding: 20px 0;
}

.footer-columns {
    display: flex;
    justify-content: space-around;
}

.footer-column {
    width: 30%; /* Adjust the width as needed */
}

.footer-column h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column a {
    text-decoration: none;
    color: #fff;
}

.home{
    padding-bottom: 20%;
    width: 70%;
    margin: 0 auto;
    height: auto !important;
}

@media (max-width: 768px) {
    .home {
        padding: 10px;
        width: 84%;
        margin: 0 auto;
        height: auto !important;
        overflow-x:hidden;
      }
  }

/*Slider*/

.slider-container {
    position: relative;
    width: 100%;
    height: 800px; /* Set the height to 800 pixels */
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%;
    height: 100%; /* Set the height to 100% */
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    background-color: #333;
    border: none;
    padding: 10px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/*Slider Ends*/

/*Image Card*/

.card-section {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 70%;
    padding: 0 0 10% 0;
}

.admissions-card-section {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 80%;
    padding: 0 0 1% 0;
  }

.card {
    width: 30%;
    box-shadow: 0 4px 8px rgba(181, 151, 93, 0.5);
    text-align: center;
    background: #cfcfcf;
    color: #111;
    line-height: 1.5em !important;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.card a{
    color: #1b2c57;
    text-decoration: none !important;
}

.card a:hover{
    color: #b5975d;
    text-decoration: none !important;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
    .card-section {
        flex-direction: column; /* Arrange cards vertically */
        align-items: center; /* Center cards horizontally */
    }

    .card {
        width: 90%; /* Adjust width for better mobile view */
        margin-bottom: 20px; /* Add margin between cards */
        padding: 0 0 5% 0;
        line-height: 1.5em !important;
    }
}

@media (max-width: 768px) {
    .card-section {
      flex-direction: column;
      align-items: center;
      width: 100% !important;
      padding: 0 0 20% 0;
    }
  }

  @media (max-width: 768px) {
    .admissions-card-section {
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        width: 100%;
        padding: 0 0 1% 0;
      }
  }

  .certprog {
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 400;
    color: #1b2c57;
  }

  @media (max-width: 768px) {
    .certprog {
        text-align: center;
        font-size: 1.5em;
        text-transform: uppercase;
        font-weight: 400;
        color: #1b2c57;
      }
  }

  /*Admissions card*/

  .admissions-card {
    display: flex;
    width: 100%; /* Set the width to 100% */
}

.admissions-card .card-image {
    flex: 30%;
}

.admissions-card .card-content {
    flex: 70%;
    padding: 20px;
    text-align: left;
}

@media (max-width: 768px) {
    .admissions-card .card-image {
        display: none !important;
      }
}