/* Add these styles to your existing style.css file */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: #fff !important;
    color: #1b2c57 !important;
    text-align: center;
    padding: 0.5em 10em 0;
    display: flex;
    align-items: center;
    
    border-bottom: solid 2px #1b2c57 !important;
  }

header a {
    margin-right: 10px;
}

header img {
    height: 50px;
}

header h1 {
    margin: 0;
}

/*Social Media*/

.social-media {
    display: flex;
    margin-left: auto; /* Add this to push the social media handles to the right */
}

.social-link {
    margin-right: 10px;
    text-decoration: none;
    color: #b31111;
}

.social-link img {
    height: 30px; /* Set the height of social media icons */
}

@media (max-width: 768px) {
    .social-media {
      display: none;
    }
  }

/*Menu Icon*/

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    display: none; /* Hidden by default on larger screens */
}

.nav-menu {
    display: flex;
    flex-direction: column; /* Center items vertically */
    align-items: center; /* Center items horizontally */
}

.nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    text-decoration: none;
    color: #fff;
}

.nav-menu ul.submenu {
    display: none;
    position: absolute;
    background-color: #1b2c57;
    padding: 10px;
    z-index: 1;
}

.nav-menu ul.submenu li {
    display: block;
    margin-bottom: 8px;
}

.has-submenu:hover .submenu {
    display: block;
}



@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    header a {
        margin: 10px 0;
    }

    .menu-icon {
        display: block;
        float: right;
        margin-right: 1%;
    }

    .nav-menu {
        display: none;
        width: 100%;
        background-color: #333;
    }

    .nav-menu.open {
        display: flex;
    }

    .nav-menu ul {
        flex-direction: column;
        align-items: center;
    }

    .nav-menu li {
        margin: 10px 0;
    }

    
    .slider {
        width: 100%;
    }
}

/*Reponsive Slider*/
@media (max-width: 1200px) {
    .slider {
        width: 100%; /* Adjust the width for medium screens */
        height: 800px;
    }
}

@media (max-width: 768px) {
    .slider-container {
      height: 302px !important;
    }
    .prev,
    .next {
        font-size: 18px; /* Adjust the font size of navigation buttons for smaller screens */
    }
  }





  nav {
    background-color: #1b2c57 !important;
    color: #fff !important;
  }

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    background-color: #b5975d;
}

main {
    padding: 30px;
    
  }

  @media (max-width: 768px) {
    main {
        padding: 10px;
        
      }
  }  

section {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

footer {
    background-color: #1b2c57;
    color: #fff;
    padding: 20px 0;
}

.footer-columns {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
  }

.footer-column {
    width: 30%; /* Adjust the width as needed */
}

.footer-column h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column a {
    text-decoration: none;
    color: #fff;
    line-height: 1.7em;
}

.footer-copy {
    width: 70%;
    margin: 0 auto;
    border-top: solid 1px #ccc;
    padding: 10px 0;
    color: #b5975d !important;
  }

  .footer-column h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #b5975d;
    font-weight: 400;
    line-height: 1.5em;
  }

  @media screen and (max-width: 768px) {
    footer .footer-columns {
        width: 70%;
        margin-bottom: 20px;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    footer .footer-column {
        width: 100%;
        margin-bottom: 20px;
        flex-direction: column;
    }
}

.home{
    padding-bottom: 20%;
    width: 70%;
    margin: 0 auto;
    height: auto !important;
}

@media (max-width: 768px) {
    .home {
        padding: 10px;
        width: 84%;
        margin: 0 auto;
        height: auto !important;
        overflow-x:hidden;
      }
  }

/*Slider*/

.slider-container {
    position: relative;
    width: 100%;
    height: 800px; /* Set the height to 800 pixels */
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%;
    height: 100%; /* Set the height to 100% */
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    background-color: #333;
    border: none;
    padding: 10px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/*Slider Ends*/

/*Image Card*/

.card-section {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 70%;
    padding: 0 0 5% 0;
}

.admissions-card-section {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 80%;
    padding: 0 0 1% 0;
  }

.card {
    width: 30%;
    box-shadow: 0 4px 8px rgba(181, 151, 93, 0.5);
    text-align: center;
    background: #cfcfcf;
    color: #111;
    line-height: 1.5em !important;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.card a{
    color: #1b2c57;
    text-decoration: none !important;
}

.card a:hover{
    color: #b5975d;
    text-decoration: none !important;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
    .card-section {
        flex-direction: column; /* Arrange cards vertically */
        align-items: center; /* Center cards horizontally */
    }

    .card {
        width: 90%; /* Adjust width for better mobile view */
        margin-bottom: 20px; /* Add margin between cards */
        padding: 0 0 5% 0;
        line-height: 1.5em !important;
    }
}

@media (max-width: 768px) {
    .card-section {
      flex-direction: column;
      align-items: center;
      width: 100% !important;
      padding: 0 0 20% 0;
    }
  }

  @media (max-width: 768px) {
    .admissions-card-section {
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        width: 100%;
        padding: 0 0 1% 0;
      }
  }

  .certprog {
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 400;
    color: #1b2c57;
  }

  @media (max-width: 768px) {
    .certprog {
        text-align: center;
        font-size: 1.5em;
        text-transform: uppercase;
        font-weight: 400;
        color: #1b2c57;
      }
  }

  /*Admissions card*/

  .admissions-card {
    display: flex;
    width: 100%; /* Set the width to 100% */
}

.admissions-card .card-image {
    flex: 30%;
}

.admissions-card .card-content {
    flex: 70%;
    padding: 20px;
    text-align: left;
}

@media (max-width: 768px) {
    .admissions-card .card-image {
        display: none !important;
      }
}

/*Events Card*/

.event-card {
    display: flex;
    margin: 0 auto;
    width: 80%;
    padding: 0 0 5% 0;
  }

.event-image {
    flex: 40%;
}

.event-image img {
    width: 100%;
    height: auto;
    border-radius: 8px 0 0 8px;
}

.event-details {
    flex: 60%;
    padding: 0 0 0 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event-details h2 {
    margin-bottom: 10px;
}

.event-details p {
    margin-bottom: 8px;
}

.event-details .btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #1b2c57;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin: 20px 0;
  }

  .event-details .btn:hover{
    display: inline-block;
    padding: 10px 15px;
    background-color: #b5975d;
    color: #1b2c57;
    text-decoration: none;
    border-radius: 4px;
    margin: 20px 0;
  }

@media (max-width: 768px) {
    .event-card {
        flex-direction: column; /* Arrange event card vertically */
    }

    .event-image,
    .event-details {
        flex: 100%; /* Full width for both in mobile mode */
    }
}

.course-list {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 2px solid #3498db;
    color: #3498db;
    background-color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.course-list:hover {
    background-color: #3498db;
    color: #fff;
}
/* Accordion */
.accordion-section {
    margin-top: 20px;
}

.accordion {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px; /* Adjust the maximum width as needed */
    margin: 0 auto;
}

.accordion-item {
    border: 1px solid #ddd;
    margin-bottom: 5px;
    overflow: hidden;
    background-color: #f9f9f9;
}

.accordion-item button {
    width: 100%;
    text-align: left;
    padding: 10px;
    cursor: pointer;
    outline: none;
    border: none;
    transition: background-color 0.3s;
}

.accordion-item button:hover {
    background-color: #ddd;
}

.accordion-item .panel {
    display: none;
    padding: 10px;
}

.accordion-item.active .panel {
    display: block;
}

.about-page{
    width: 70%;
    margin: 0 auto;
    font-size: 18px !important;
    line-height: 28px;
    font-weight: 300;
}

@media (max-width: 768px) {
    .about-page{
        width: 90%;
        margin: 0 auto;
    }
}

.breadcrumb {
    background-color: #f2f2f2;
    padding: 10px 15%;
    margin-bottom: 20px;
}

.breadcrumb a {
    text-decoration: none;
    color: #333;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb img {
    width: 100%;
    max-height: 200px; /* Adjust the maximum height as needed */
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* About Page Content Card */
.about-content-card {
    display: flex;
    margin-bottom: 20px;
}

.about-content-card img {
    width: 50%;
    max-height: 300px; /* Adjust the maximum height as needed */
    object-fit: cover;
}

.about-content-card-text {
    flex: 1;
    padding: 0 20px;
    background-color: #f9f9f9;
}

.about-content-card-text h2 {
    margin-bottom: 10px;
}

.about-content-card-text p {
    margin-bottom: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
}

/**/

.about-content-card-2 {
    display: flex;
    margin-bottom: 20px;
}

.about-content-card-2 img {
    width: 50%;
    max-height: 300px; /* Adjust the maximum height as needed */
    object-fit: cover;
}

.about-content-card-2-text {
    flex: 1;
    padding: 0 20px;
    background-color: #f9f9f9;
}

.about-content-card-2-text h2 {
    margin-bottom: 10px;
}

.about-content-card-2-text p {
    margin-bottom: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
}

/**/

@media (max-width: 768px) {
    .about-content-card {
        flex-direction: column;
    }

    .about-content-card img {
        width: 100%;
        border-radius: 8px 8px 0 0;
    }
}

@media (max-width: 768px) {
    .about-content-card-2 {
        flex-direction: column-reverse;
    }

    .about-content-card-2 img {
        width: 100%;
        border-radius: 8px 8px 0 0;
    }
}

/* Academics Page Content Card */
.acad-content-card {
    display: flex;
    margin-bottom: 20px;
}

.acad-content-card img {
    width: 50%;
    max-height: 550px; /* Adjust the maximum height as needed */
    object-fit: cover;
}

.acad-content-card-text {
    flex: 1;
    padding: 0 20px;
    background-color: #f9f9f9;
}

.acad-content-card-text h2 {
    margin-bottom: 10px;
}

.acad-content-card-text p {
    margin-bottom: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
}

/**/

.acad-content-card-2 {
    display: flex;
    margin-bottom: 20px;
}

.acad-content-card-2 img {
    width: 50%;
    max-height: 550px; /* Adjust the maximum height as needed */
    object-fit: cover;
}

.acad-content-card-2-text {
    flex: 1;
    padding: 0 20px;
    background-color: #f9f9f9;
}

.acad-content-card-2-text h2 {
    margin-bottom: 10px;
}

.acad-content-card-2-text p {
    margin-bottom: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
}

/**/

@media (max-width: 768px) {
    .acad-content-card {
        flex-direction: column;
    }

    .acad-content-card img {
        width: 100%;
        border-radius: 8px 8px 0 0;
    }
}

@media (max-width: 768px) {
    .acad-content-card-2 {
        flex-direction: column-reverse;
    }

    .acad-content-card-2 img {
        width: 100%;
        border-radius: 8px 8px 0 0;
    }
}

/* Faculty Page */
.faculty-member {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
}

.faculty-member img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.faculty-members {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.faculty-member {
    flex-basis: calc(25% - 20px);
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
}

.faculty-member img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .faculty-member {
        flex-basis: calc(90%);
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 8px;
    }
}

@media (max-width: 768px) {
    .faculty-details {
        width: 100% !important;
        padding: 0 20px;
      }
}

@media (max-width: 768px) {
    .faculty-profile img {
        width: 100% !important;
        margin-bottom: 20px;
      }
}


/* Faculty Page Ends */

/* Faculty Member Profile Page */
.faculty-profile {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.faculty-profile img {
    width: 45%;
    margin-bottom: 20px;
}

.faculty-details {
    width: 45%;
    padding: 0 20px;

}

.faculty-biography {
    padding: 20px;
    background: #ddd;
    margin: 0 auto;
    max-width: 800px;
}
.biotxt {
    font-size: 20px;
    line-height: 30px;
  
  }
/* Faculty Member Profile Page Ends */

/* Certificate Course Profile Page */
.course-profile {
    max-width: 800px;
    margin: 0 auto;
}

.course-profile img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.course-details {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.course-description {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 20px;
}